.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 95%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
  flex-wrap:wrap;
  padding: 2rem 0;
  border-top: 1px solid var(--glass);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin: 0rem 0.5rem;
  cursor: pointer;
  color: var(--on-background);
}

.icon {
  transition: all 0.25s ease-in-out;
}

.link:hover .icon {
  color: var(--primary);
}
