:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--background);
  color: var(--on-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #f47057;
  --secondary: #16d196;
  --other-color: #1bedf4ff;;
  --background: #303030;
  --on-background: #eef5f3;
  --glass: #ffffff35;
  --glass-thin: #f470570d;
}

[data-theme="light"] {
  --background: #eef5f3;
  --on-background: #303030;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.home {
  background-color: var(--background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0%;
}

* {
  font-family: "Noto Sans Mono", monospace;
  text-decoration: none;
}

.container {
  width: 95%;
}

h4 {
  color: var(--text);
  text-transform: capitalize;
  font-size: 1rem;
}

.navbar {
  top: 0;
  left: 0;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: var(--background);
  position: sticky;
  padding: 10px 0px;
  z-index: 99;

  .brand {
    font-weight: 600;
    font-size: 1.3rem;

    .name {
      .first {
        color: var(--primary);
      }
      .last {
        color: var(--text);
      }
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, sans-serif;

    a {
      color: var(--text);
      font-size: 0.85rem;
      margin-left: 0.5rem;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
    }

    a:hover {
      color: var(--primary);
    }

    a.active {
      color: var(--primary);
      background-color: var(--glass-thin);
    }

    .theme-toggler {
      margin-left: 1rem;
      cursor: pointer;
      padding: 0.2rem 0.4rem;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
    }

    .theme-toggler:hover {
      background-color: var(--primary);
    }
  }
}

@media screen and (max-width: 1180px) {
    .about .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .navbar {
        width: 95%;
    }
    
    .navbar .brand {
        font-size: 1.1rem;
    }
    
    .navbar .nav-links a {
        font-size: 0.9rem;
    }

    .home .content .left,
    .home .content .right {
        width: 50%;
    }

    .home .content .medium {
        font-size: 1.3rem;
    }

    .home .content .name {
        font-size: 2rem;
    }

    .home .content .small {
        font-size: 0.8rem;
    }

    .about {
        width: 95%;
    }

    .about .heading {
        font-size: 1.2rem;
    }

    .about .heading-sm {
        font-size: 1rem;
    }


    .about .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
        width: 100%;
    }

    .about .skills .card {
        padding: 15px;
        border-radius: 20px;
    }

    .about .skills .card .image{
        width: 80%;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .services {
        width: 95%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .brand {
        font-size: 1rem;
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar .nav-links.responsive {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 40px;
        width: 150px;
    }
    
    .navbar .nav-links.responsive a {
        font-size: 0.9rem;
        background-color: var(--background);
        border-bottom: 2px solid var(--primary);
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .navbar .nav-links.responsive #theme-toggler {
        font-size: 0.8rem;
        background-color: var(--primary);
        border-bottom: 2px solid var(--text);
        width: 100%;
        padding: 10px;
        border-radius: 0px;
        translate: 5px 0px;
    }

    .navbar .nav-links.responsive a:hover {
        background-color: var(--primary);
        color: var(--background);
        border-bottom: 2px solid var(--background);
    }

    .navbar #toggler {
        display: block;
    }

    .home {
        height: fit-content;
    }

    .home .content {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .home .content .left,
    .home .content .right {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
    }

    .home .content .right .image {
        width: 60%;
    }

    .home .content .medium {
        font-size: 1.3rem;
    }

    .home .content .name {
        font-size: 2rem;
    }


    .home .left .scroll-down {
        width: 100%;
    }

    .notification {
        width: 95%;
        padding: 10px;
        font-size: 14px;
    }

    .about .heading {
        font-size: 1rem;
    }

    .about .skills {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .about .skills .card {
        padding: 15px;
        border-radius: 20px;
    }

    .about .skills .card .image{
        width: 60%;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .about .testimonials .cards {
        grid-template-columns: 1fr;
    }

    .projects {
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 556px) {
    .projects {
        gap: 20px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 460px) {
    .container,
    .navbar,
    .home,
    .about,
    .services,
    .contact {
        width: 100%;
    }

    .about .description-main {
        padding: 8px;
    }

    .about .skills {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .about .skills .card .image {
        width: 80%;
    }
}
